<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>create</title>
</head>
<body>
    <div align="center">

        <!-- === CREATE SOGN === -->
        <form class="contact w-50" action="" method="post" id="createSognForm">
            <div class="valid" id="notFilled"></div>

            <h3 class="text-center mb-2">Opret Sogn</h3>
            <br>

            <!--            SOGNNAVN -->
            <div class="form-group ml-5 mr-5">
                <label for="sognenavn">Sogne Navn</label>
                <input class="form-control" type="text" id="sognenavn"  placeholder="Sogne Navn">
            </div>

            <!--            SOGNEKODE-->
            <div class="form-group ml-5 mr-5">
            <label for="sognekode">Sogne Kode</label>
            <input class="form-control" type="text" id="sognekode"  placeholder="Sogne Kode">
    </div>

            <!--              SUBMIT -->
            <button  type="submit" id="submitButton" class="w-50 btn form-button ml-5 mr-5">Opret Sogn</button>
    </div>
        </form>
</body>
<script src="/js/createSogn.js"></script>
</html>